
<div class="text-center m-5">
    
<h1>
    registro de usuario
</h1>

</div>

<div class="container ">
<form action="/" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre :</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">email :</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com" required>
            </div>
        <div class="mb-3">
            <label for="password" class="form-label">password :</label>
            <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="text-center">
          <button class="btn btn-primary w-50" type="submit"Registrarse></button>


            </div>

</form>

</div>